<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <h1>Good Evening, Azra</h1>
      <p>
        Today, I would like to discuss two topics. The first topic is an
        introduction to yourself. I would like to know about your educational
        background, qualifications, and family background.
      </p>
      <p>
        The second topic I would like to discuss is your strengths and
        weaknesses. This information will be helpful for both of our preparation.
      </p>
    </main>
  </body>
</html>
